/*@font-face {
    font-family: 'universidadregular';
    src: url('../../css/fonts/universidad_personal_use-webfont.woff2') format('woff2'),
         url('../../css/fonts/universidad_personal_use-webfont.woff') format('woff'),
         url('../../css/fonts/universidad_personal_use.ttf') format('woff');
    font-weight: normal;
    font-style: normal;

}*/


@font-face {
    font-family: 'distressregular';
    src: url('../../public/fonts/distres2.woff2') format('woff2'),
         url('../../public/fonts/distres2.woff') format('woff'),
         url('../../public/fonts/distres2.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'viridian_collegeregular';
    src: url('../../public/fonts/viridian_college-webfont.woff2') format('woff2'),
         url('../../public/fonts/viridian_college-webfont.woff') format('woff'),
         url('../../public/fonts/viridian_college.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

*,
*::before,
*::after {
	margin:0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;  /*10px/16px = 62.5%*  --> 1rem = 10px */
}

body {
	
	background-color: #000814;
	background-image:linear-gradient(to top,$color-primary-dark, $color-primary-medium);
	box-sizing: border-box;
	font-family: $font-content;
	color: white;
}
