body {
	font-family: $font-content;
	color: $color-font-subtitle;
	text-transform: capitalize;
	font-weight: 100;
	font-size: 1.7rem;
	line-height: 2;

	@media only screen and (max-width: $bp-medium) {
		font-size: 1.5rem;
	}

	@media only screen and (max-width: $bp-small) {
		font-size: 1.3rem;
	}

	@media only screen and (max-width: $bp-xsmall) {
		font-size: 1.2rem;
	}

	@media only screen and (max-width: $bp-xxsmall) {
		font-size: 1.2rem;
	}
}

.header-1{
	font-family: $font-title;
	text-transform: uppercase;
	font-size: 8rem;
	letter-spacing: 1.4rem;
	line-height: 3;
	font-weight:lighter;
	color: $color-font-title;

	@media only screen and (max-width: $bp-largest) {
		font-size: 7rem;
		letter-spacing: 1.3rem;
	}

	@media only screen and (max-width: $bp-large) {
		font-size: 6rem;
		letter-spacing: 1.2rem;
	}

	@media only screen and (max-width: $bp-medium) {
		font-size: 5rem;
		letter-spacing: 1rem;
	}

	@media only screen and (max-width: $bp-small) {
		font-size: 4rem;
		line-height: 5;
	}

	@media only screen and (max-width: $bp-xsmall) {
		font-size: 3rem;		
	}

	@media only screen and (max-width: $bp-xxsmall) {
		font-size: 2.2rem;
		line-height: 8;
	}
}

.header-2{
	font-family: $font-subtitle;
	color: $color-font-subtitle;
	text-transform: uppercase;
	font-size: 2.5rem;
	letter-spacing: 3rem;
	font-weight:lighter;


	@media only screen and (max-width: $bp-large) {
		font-size: 2.3rem;
		letter-spacing: 2.6rem;
	}

	@media only screen and (max-width: $bp-medium) {
		font-size: 2rem;
		letter-spacing: 2rem;
	}

	@media only screen and (max-width: $bp-small) {
		font-size: 1.8rem;
		letter-spacing: 1.5rem;
	}

	@media only screen and (max-width: $bp-xsmall) {
		font-size: 1.4rem;
		letter-spacing: 1.1rem;
	}
	
	@media only screen and (max-width: $bp-xxsmall) {
		font-size: 1.2rem;
		letter-spacing: 1rem;
	}
	
}


.heading-3 {
	font-family: $font-subtitle;
	color: $color-font-subtitle;
	text-transform: uppercase;
	font-weight:lighter;
	font-size: 1.8rem;
	letter-spacing: 1.2rem;
	line-height: 3;

	@media only screen and (max-width: $bp-small) {
		font-size: 1.6rem;
	}
	@media only screen and (max-width: $bp-xsmall) {
		font-size: 1.5rem;
	}
	@media only screen and (max-width: $bp-xxsmall) {
		font-size: 1.4rem;
		letter-spacing: .5rem;
	}
}

.heading-4 {
	font-family: $font-content;
	color: $color-font-subtitle;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 3;
	letter-spacing: .3rem;

	@media only screen and (max-width: $bp-medium) {
		font-size: 1.6rem;
	}

	@media only screen and (max-width: $bp-small) {
		font-size: 1.4rem;
		letter-spacing: 0;
	}
}







