.button {
	&,
	&:link,
	&:visited {
		text-decoration: none;
		cursor: pointer;
		border: none;
		display: inline-block;
		transition: all .5s ease;
		position: relative;	
	}

	&-plus {
		text-transform: capitalize;
		font-size: 1.4rem;
		font-weight: 300;
		font-style: italic;

		background-color: $color-primary-light;
		color: $color-secondary-medium;
		
		padding: .5rem 2rem;
		margin-left: 1rem;
		border-radius: .3rem;

		@media only screen and (max-width: $bp-large) {
			padding: .5rem .7rem;
		}

		@media only screen and (max-width: $bp-medium) {
			background: none;
			margin-left: .5rem;
			.btn-hide {
				display:none;
				
			}
			.fa-plus-square {
				font-size: 3rem;
			}
		}
		@media only screen and (max-width: $bp-xsmall) {
			.fa-plus-square {
				font-size: 2rem;
			}
		}
	
		&:hover {
			transform: translateY(-1.2rem) scale(1.03) rotate(-3deg);
			box-shadow: 0 .5rem 1rem rgba($color-black, .2);
			font-weight: 700;

		}
	}

	&-buy {
		text-transform: uppercase;
		font-weight: 300;
		color: $color-font-title;
		font-size: 1.5rem;
		background-image: linear-gradient(to top, rgba($color-primary-dark, .8), rgba($color-primary-light, 8));
		padding: .7rem 1rem;


		&:hover {
			transform:translateY(-0.5rem);
			background-image: linear-gradient(to top, $color-primary-dark, $color-primary-light);
			box-shadow: 0 1.2rem 3rem rgba($color-black, .4);
		}
	}

	&-send {

		text-transform: capitalize;
		font-size: 1.4rem;
		font-weight: 300;
		
		background-color: $color-secondary-medium;
		color: $color-primary-dark;
		
		padding: 1rem 7rem;
		margin-left: 1rem;
		margin-top: 2.5rem;
		border-radius: .3rem;
	
		&:hover {
			transform: translateY(-1.2rem) scale(1.1);
			box-shadow: 0 .5rem 1rem rgba($color-black, .2);
			background-color: $color-primary-medium;
			color: $color-font-title;
		}
	}

	&-news {
		text-transform: uppercase;
		font-family: $font-content;
		font-weight: 300;
		font-size: 1.5rem;
		color: $color-secondary-medium;
		padding: 1.3rem;
		background-image: linear-gradient(to top, rgba($color-primary-dark, .2), rgba($color-primary-light, .2));
		background-color: transparent;
		border-radius: .2rem;

		@media only screen and (max-width: $bp-mini) {
			font-size: 1.1rem;
		}

		&:hover {
			transform:translateY(-0.5rem);
			background-image: linear-gradient(to top, $color-primary-dark, $color-primary-light);
			box-shadow: 0 1.2rem 3rem rgba($color-black, .4);

			@media only screen and (max-width: $bp-small) {
				transform:translateY(0);
			}
		}
	
	}
}


