.card {
	
	perspective: 150rem;
 	-moz-perspective: 150rem;
	position: relative; 

	width: 35rem;
 	height:57rem;

 	display: grid;
 	
 	align-self:center;
 	justify-self:center;
 	align-items: center;

 	grid-row: 2/3;

 	@media only screen and (max-width: $bp-largest) {
		display: none;
	}
 
	&__side {
		height:57rem;
 		border-radius: .4rem;
 		box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
 		overflow: hidden;

 		transition: all 1s ease;
 		position: absolute;
 		top: 0;
 		left: 0;
 		width: 100%;
 		backface-visibility: hidden;
 		-webkit-backface-visibility: hidden;

 		&--front {
 			display:grid;
 			grid-template-columns: repeat(3, 1fr); 
 			grid-template-rows: repeat(3, 1fr);

 			background-size: cover;
			background-blend-mode: exclusion;
			

			&-1 {
				background-image: linear-gradient(to top, $color-primary-dark, $color-primary-medium), url(../img/card-1.jpg);		
			}
			
			&-2 {
				background-image: linear-gradient(to top, $color-primary-dark, $color-primary-medium), url(../img/card-2.jpg);		
			}
 		}

 		&--back {
			background-color: $color-font-subtitle;
			transform: rotateY(180deg);

 		}
	}

	&:hover .card__side--front {
 		transform: rotateY(180deg); 
	} 

	&:hover .card__side--back {
 		transform: rotateY(0); 
	} 

	&__picture {
		background-size: cover;
		height: 27rem;
		background-blend-mode: soft-light; 
		-webkit-clip-path: polygon(0 0 , 100% 0, 100% 85%, 0 100%);
		clip-path: polygon(0 0 , 100% 0, 100% 85%, 0 100%);

		&--1 {
			background-image: linear-gradient(to bottom, $color-primary-dark, $color-primary-light), url(../img/album.jpg);
		}
	}

	&__heading {
		font-weight: 300;
		color: $color-font-title;
		font-size: 2.2rem;
		text-transform: uppercase;
		text-align: right;
		position: absolute;
		top: 22rem; 
		right: 1rem;
		width: 80%;
	}

	&__heading-span{
		padding: 1rem 1.5rem;
		background-image: linear-gradient(to top, rgba($color-primary-dark, .8), rgba($color-primary-light, .8));
	}

	&__details {
		
		color: $color-primary-medium;

		ul {
			list-style: none;
			padding: 2rem;
			width: 70%; 
			margin: 0 auto; 

			li {
				text-align: center;
				font-size: 1.3rem;
				padding-top: .3rem;

				&:not(:last-child){ 
					border-bottom: 1px solid $color-font-line;
				}

			}
		}
	}

}

.fa-compact-disc,
.fa-play-circle {
	grid-column: 2/3;
	grid-row: 2/3;

	align-self: center;
	justify-self:center;
	/*height:150px;*/

	font-size:10rem;

	background-image: linear-gradient(to top, rgba($color-secondary-medium, .9), rgba($color-secondary-dark, .9)) ;
	-webkit-background-clip:text;
	color: transparent;
}

