.gallery {

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(7, 5vw);
	grid-gap: 1.5rem;
	padding: 1.5rem;

	&__item {
		background-size: cover;
		background-blend-mode: exclusion;

		&--1 {
			grid-row: 1 / span 2;
			grid-column: 1 / span 2;
			background-image: linear-gradient(to top, $color-primary-medium, $color-primary-dark), url(../img/gal-1.jpg);
		}
		&--2 {
			grid-row: 1 / span 3;
			grid-column: 3 / span 3;
			background-image: linear-gradient(to top, $color-primary-medium, $color-primary-dark), url(../img/gal-2.jpg);
		}
		&--3 {
			grid-row: 1 / span 2;
			grid-column: 6 / 7;
			background-image: linear-gradient(to top, $color-primary-medium, $color-primary-dark), url(../img/gal-3.jpg);
		}
		&--4 {
			grid-row: 1 / span 2;
			grid-column: 7 / -1;
			background-image: linear-gradient(to top, $color-primary-medium, $color-primary-dark), url(../img/gal-4.jpg);
		}
		&--5 {
			grid-row: 3 / 6;
			grid-column: 1 / 3;
			background-image: linear-gradient(to left, $color-primary-medium, $color-primary-dark), url(../img/gal-5.jpg);
		}
		&--6 {
			grid-row: 4 / 6;
			grid-column: 3 / 5;
			background-image: linear-gradient(to right,  $color-primary-medium, $color-primary-medium), url(../img/gal-6.jpg);
		}
		&--7 {
			grid-row: 4 / 5;
			grid-column: 5 / 6;
		}
		&--8 {
			grid-row: 3 / 5;
			grid-column: 6 / 8;
			background-image: linear-gradient(to right,  $color-primary-medium, $color-primary-medium), url(../img/gal-8.jpg);
			background-position: center;
		}
		&--9 {
			grid-row: 3 / 6;
			grid-column: 8 / 9;
			background-image: linear-gradient(to right,  $color-primary-medium, $color-primary-dark), url(../img/gal-9.jpg)
		}
		&--10 {
			grid-row: 6 / 8;
			grid-column: 1 / 2;
			background-image: linear-gradient(to bottom,  $color-primary-medium, $color-primary-dark), url(../img/gal-10.jpg);
		}
		&--11 {
			grid-row: 6 / 8;
			grid-column: 2 / 4;
			background-image: linear-gradient(to bottom,  $color-primary-medium, $color-primary-dark), url(../img/gal-11.jpg);
		}
		&--12 {
			grid-row: 6 / 8;
			grid-column: 4 / 5;
			background-image: linear-gradient(to bottom,  $color-primary-medium, $color-primary-dark), url(../img/gal-12.jpg);
		}
		&--13 {
			grid-row: 5 / 8;
			grid-column: 5 / 8;
			background-image: linear-gradient(to bottom,  $color-primary-medium, $color-primary-dark), url(../img/gal-13.jpg);
		}
		&--14 {
			grid-row: 6 / 8;
			grid-column: 8 / -1;
			background-image: linear-gradient(to bottom,  $color-primary-medium, $color-primary-dark), url(../img/gal-14.jpg);
		}
	}
}	