/*1400px*/

/*1200px*/

/*1000px*/

/*800px*/

/*600px*/

/*500px*/

/*400px*/

/*350px*/

/*@font-face {
    font-family: 'universidadregular';
    src: url('../../css/fonts/universidad_personal_use-webfont.woff2') format('woff2'),
         url('../../css/fonts/universidad_personal_use-webfont.woff') format('woff'),
         url('../../css/fonts/universidad_personal_use.ttf') format('woff');
    font-weight: normal;
    font-style: normal;

}*/

@font-face {
  font-family: "distressregular";
  src: url(/fonts/distres2.woff2?2efb876a620467f38e5c4e1708b159c1) format("woff2"), url(/fonts/distres2.woff?01e1d7c6ceed3de77f8c27f50f498f24) format("woff"), url(/fonts/distres2.ttf?5efc535bebc640c079915f3be3cce614) format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "viridian_collegeregular";
  src: url(/fonts/viridian_college-webfont.woff2?b8b54aa6dd87de6c74e245c6d1496364) format("woff2"), url(/fonts/viridian_college-webfont.woff?7f34cd730ee4a62ae41ab98efc6314e9) format("woff"), url(/fonts/viridian_college.otf?5fe14e80d0a0262dc257bb3fd0a2f3c6) format("otf");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*10px/16px = 62.5%*  --> 1rem = 10px */
}

body {
  background-color: #000814;
  background-image: linear-gradient(to top, #000814, #001433);
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  color: white;
}

body {
  font-family: "Roboto Mono", monospace;
  color: #e0d1bc;
  text-transform: capitalize;
  font-weight: 100;
  font-size: 1.7rem;
  line-height: 2;
}

@media only screen and (max-width: 50em) {
  body {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  body {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 31.25em) {
  body {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 25em) {
  body {
    font-size: 1.2rem;
  }
}

.header-1 {
  font-family: "distressregular", sans-serif;
  text-transform: uppercase;
  font-size: 8rem;
  letter-spacing: 1.4rem;
  line-height: 3;
  font-weight: lighter;
  color: #F6F2ED;
}

@media only screen and (max-width: 75em) {
  .header-1 {
    font-size: 7rem;
    letter-spacing: 1.3rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .header-1 {
    font-size: 6rem;
    letter-spacing: 1.2rem;
  }
}

@media only screen and (max-width: 50em) {
  .header-1 {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header-1 {
    font-size: 4rem;
    line-height: 5;
  }
}

@media only screen and (max-width: 31.25em) {
  .header-1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 25em) {
  .header-1 {
    font-size: 2.2rem;
    line-height: 8;
  }
}

.header-2 {
  font-family: "viridian_collegeregular", sans-serif;
  color: #e0d1bc;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 3rem;
  font-weight: lighter;
}

@media only screen and (max-width: 62.5em) {
  .header-2 {
    font-size: 2.3rem;
    letter-spacing: 2.6rem;
  }
}

@media only screen and (max-width: 50em) {
  .header-2 {
    font-size: 2rem;
    letter-spacing: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header-2 {
    font-size: 1.8rem;
    letter-spacing: 1.5rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .header-2 {
    font-size: 1.4rem;
    letter-spacing: 1.1rem;
  }
}

@media only screen and (max-width: 25em) {
  .header-2 {
    font-size: 1.2rem;
    letter-spacing: 1rem;
  }
}

.heading-3 {
  font-family: "viridian_collegeregular", sans-serif;
  color: #e0d1bc;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.8rem;
  letter-spacing: 1.2rem;
  line-height: 3;
}

@media only screen and (max-width: 37.5em) {
  .heading-3 {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .heading-3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 25em) {
  .heading-3 {
    font-size: 1.4rem;
    letter-spacing: 0.5rem;
  }
}

.heading-4 {
  font-family: "Roboto Mono", monospace;
  color: #e0d1bc;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3;
  letter-spacing: 0.3rem;
}

@media only screen and (max-width: 50em) {
  .heading-4 {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-4 {
    font-size: 1.4rem;
    letter-spacing: 0;
  }
}

.button,
.button:link,
.button:visited {
  text-decoration: none;
  cursor: pointer;
  border: none;
  display: inline-block;
  transition: all 0.5s ease;
  position: relative;
}

.button-plus {
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  background-color: #002761;
  color: #FFCD00;
  padding: 0.5rem 2rem;
  margin-left: 1rem;
  border-radius: 0.3rem;
}

@media only screen and (max-width: 62.5em) {
  .button-plus {
    padding: 0.5rem 0.7rem;
  }
}

@media only screen and (max-width: 50em) {
  .button-plus {
    background: none;
    margin-left: 0.5rem;
  }

  .button-plus .btn-hide {
    display: none;
  }

  .button-plus .fa-plus-square {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .button-plus .fa-plus-square {
    font-size: 2rem;
  }
}

.button-plus:hover {
  transform: translateY(-1.2rem) scale(1.03) rotate(-3deg);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

.button-buy {
  text-transform: uppercase;
  font-weight: 300;
  color: #F6F2ED;
  font-size: 1.5rem;
  background-image: linear-gradient(to top, rgba(0, 8, 20, 0.8), #002761);
  padding: 0.7rem 1rem;
}

.button-buy:hover {
  transform: translateY(-0.5rem);
  background-image: linear-gradient(to top, #000814, #002761);
  box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, 0.4);
}

.button-send {
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 300;
  background-color: #FFCD00;
  color: #000814;
  padding: 1rem 7rem;
  margin-left: 1rem;
  margin-top: 2.5rem;
  border-radius: 0.3rem;
}

.button-send:hover {
  transform: translateY(-1.2rem) scale(1.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #001433;
  color: #F6F2ED;
}

.button-news {
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 1.5rem;
  color: #FFCD00;
  padding: 1.3rem;
  background-image: linear-gradient(to top, rgba(0, 8, 20, 0.2), rgba(0, 39, 97, 0.2));
  background-color: transparent;
  border-radius: 0.2rem;
}

@media only screen and (max-width: 21.9em) {
  .button-news {
    font-size: 1.1rem;
  }
}

.button-news:hover {
  transform: translateY(-0.5rem);
  background-image: linear-gradient(to top, #000814, #002761);
  box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 37.5em) {
  .button-news:hover {
    transform: translateY(0);
  }
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  width: 35rem;
  height: 57rem;
  display: grid;
  align-self: center;
  justify-self: center;
  align-items: center;
  grid-row: 2/3;
}

@media only screen and (max-width: 75em) {
  .card {
    display: none;
  }
}

.card__side {
  height: 57rem;
  border-radius: 0.4rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card__side--front {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-size: cover;
  background-blend-mode: exclusion;
}

.card__side--front-1 {
  background-image: linear-gradient(to top, #000814, #001433), url(/images/card-1.jpg?aed69d97257f4d9dec94135531f145ae);
}

.card__side--front-2 {
  background-image: linear-gradient(to top, #000814, #001433), url(/images/card-2.jpg?52a43bd12b4755984926e0f25796fd77);
}

.card__side--back {
  background-color: #e0d1bc;
  transform: rotateY(180deg);
}

.card:hover .card__side--front {
  transform: rotateY(180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 27rem;
  background-blend-mode: soft-light;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture--1 {
  background-image: linear-gradient(to bottom, #000814, #002761), url(/images/album.jpg?abc9af3d655bce3ac18bc5ff751092fa);
}

.card__heading {
  font-weight: 300;
  color: #F6F2ED;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 22rem;
  right: 1rem;
  width: 80%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  background-image: linear-gradient(to top, rgba(0, 8, 20, 0.8), rgba(0, 39, 97, 0.8));
}

.card__details {
  color: #001433;
}

.card__details ul {
  list-style: none;
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.3rem;
  padding-top: 0.3rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #DFB881;
}

.fa-compact-disc,
.fa-play-circle {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
  /*height:150px;*/
  font-size: 10rem;
  background-image: linear-gradient(to top, rgba(255, 205, 0, 0.9), rgba(255, 174, 0, 0.9));
  -webkit-background-clip: text;
  color: transparent;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}

.gallery__item {
  background-size: cover;
  background-blend-mode: exclusion;
}

.gallery__item--1 {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
  background-image: linear-gradient(to top, #001433, #000814), url(/images/gal-1.jpg?13c0a58f102b709d2d1319d0db2754b0);
}

.gallery__item--2 {
  grid-row: 1/span 3;
  grid-column: 3/span 3;
  background-image: linear-gradient(to top, #001433, #000814), url(/images/gal-2.jpg?f7f86bebe56aa613a5ef7eba2048a7d2);
}

.gallery__item--3 {
  grid-row: 1/span 2;
  grid-column: 6/7;
  background-image: linear-gradient(to top, #001433, #000814), url(/images/gal-3.jpg?c535c9308926b19dd71437ecf506ee03);
}

.gallery__item--4 {
  grid-row: 1/span 2;
  grid-column: 7/-1;
  background-image: linear-gradient(to top, #001433, #000814), url(/images/gal-4.jpg?b42bef6dc8bec7e0a23422e4b42b71a5);
}

.gallery__item--5 {
  grid-row: 3/6;
  grid-column: 1/3;
  background-image: linear-gradient(to left, #001433, #000814), url(/images/gal-5.jpg?95e551538ea71cf17a6c345db288f3b8);
}

.gallery__item--6 {
  grid-row: 4/6;
  grid-column: 3/5;
  background-image: linear-gradient(to right, #001433, #001433), url(/images/gal-6.jpg?fc0aaf670f5c465d7d168ba7f4042e77);
}

.gallery__item--7 {
  grid-row: 4/5;
  grid-column: 5/6;
}

.gallery__item--8 {
  grid-row: 3/5;
  grid-column: 6/8;
  background-image: linear-gradient(to right, #001433, #001433), url(/images/gal-8.jpg?5abc02b24f6ea76e067a4599f0ec9348);
  background-position: center;
}

.gallery__item--9 {
  grid-row: 3/6;
  grid-column: 8/9;
  background-image: linear-gradient(to right, #001433, #000814), url(/images/gal-9.jpg?29c77403958cd4fc40a04c8bb113e05c);
}

.gallery__item--10 {
  grid-row: 6/8;
  grid-column: 1/2;
  background-image: linear-gradient(to bottom, #001433, #000814), url(/images/gal-10.jpg?dd986e14f11ab571a86314e89fed8125);
}

.gallery__item--11 {
  grid-row: 6/8;
  grid-column: 2/4;
  background-image: linear-gradient(to bottom, #001433, #000814), url(/images/gal-11.jpg?bd71ad23069ab2e03f70f7798feadff6);
}

.gallery__item--12 {
  grid-row: 6/8;
  grid-column: 4/5;
  background-image: linear-gradient(to bottom, #001433, #000814), url(/images/gal-12.jpg?520088f7b71ff773e006a9855e9dcf1d);
}

.gallery__item--13 {
  grid-row: 5/8;
  grid-column: 5/8;
  background-image: linear-gradient(to bottom, #001433, #000814), url(/images/gal-13.jpg?e5a21323273c2fffd1881881402fc012);
}

.gallery__item--14 {
  grid-row: 6/8;
  grid-column: 8/-1;
  background-image: linear-gradient(to bottom, #001433, #000814), url(/images/gal-14.jpg?1730c0fed65158ede5fe37601131967b);
}

/*@import "layout/contact";*/

.footer {
  background-image: linear-gradient(to bottom, #000814, #002761), url(/images/back.jpg?88e0e0a2ec56d7d604c6393d3f1787d0);
  background-size: cover;
  background-position: 50% 94%;
  background-blend-mode: hard-light;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  padding: 4rem;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .footer {
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    height: 100%;
  }
}

@media only screen and (max-width: 75em) {
  .footer {
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
}

.footer__logo {
  grid-row: 2/3;
  grid-column: 1/-1;
}

.footer__logo-hr {
  color: #e0d1bc;
}

.footer__link {
  grid-row: 3/4;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(3, 10%);
  justify-content: start;
}

@media only screen and (max-width: 75em) {
  .footer__link {
    grid-column: 1/-1;
    justify-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__link {
    display: grid;
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 100%;
    align-self: start;
  }
}

@media only screen and (max-width: 75em) {
  .footer__form {
    text-align: center;
  }
}

.footer__newsletter {
  grid-row: 3/4;
  grid-column: 2/3;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #FFCD00;
}

.footer__newsletter-input {
  border-radius: 0.3rem;
  background-color: rgba(0, 39, 97, 0.6);
  color: #e0d1bc;
  padding: 1.5rem 2rem;
  border: 0.2rem solid #FFCD00;
  width: 55%;
}

@media only screen and (max-width: 75em) {
  .footer__newsletter-input {
    width: 30%;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__newsletter-input {
    width: 60%;
  }
}

@media only screen and (max-width: 31.25em) {
  .footer__newsletter-input {
    width: 70%;
  }
}

@media only screen and (max-width: 25em) {
  .footer__newsletter-input {
    width: 80%;
  }
}

@media only screen and (max-width: 75em) {
  .footer__newsletter {
    grid-column: 1/-1;
    grid-row: 4/5;
    display: grid;
    align-items: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__newsletter {
    grid-row: 5/6;
  }
}

.footer__copyright {
  grid-row: 5/6;
  grid-column: 1/-1;
  font-size: 1rem;
  color: #DFB881;
  align-self: end;
  text-align: center;
  text-transform: none;
}

.footer__copyright-a {
  text-decoration: none;
  color: #F6F2ED;
}

@media only screen and (max-width: 37.5em) {
  .footer__copyright {
    grid-row: 6/7;
  }
}

.fab {
  font-size: 5rem;
  color: #FFCD00;
}

.container {
  display: grid;
  grid-template-rows: 900px 800px 900px 1000px 900px 800px 500px;
  /*header1 tour2 music3 video4 social5 contact6 gallery7 footer8*/
  grid-template-columns: 1fr;
}

@media only screen and (max-width: 62.5em) {
  .container {
    grid-template-rows: 900px 700px 1900px 900px 1300px 700px 500px;
    /*header1 tour2 music3 video4 social5 contact6 gallery7 footer8*/
  }
}

@media only screen and (max-width: 50em) {
  .container {
    grid-template-rows: 900px 700px 1800px 800px 1200px 500px 500px;
  }
}

@media only screen and (max-width: 37.5em) {
  .container {
    grid-template-rows: 900px 500px 1800px 700px 1100px 420px 600px;
    /*header1 tour2 music3 video4 social5 contact6 gallery7 footer8*/
  }
}

@media only screen and (max-width: 31.25em) {
  .container {
    grid-template-rows: 800px 500px 1700px 500px 1000px 370px 600px;
  }
}

@media only screen and (max-width: 25em) {
  .container {
    grid-template-rows: 700px 650px 200px 400px 700px 320px 600px;
    /*header1 tour2 music3 video4 social5 contact6 gallery7 footer8*/
  }
}

@media only screen and (max-width: 21.9em) {
  .container {
    grid-template-rows: 700px 650px 200px 400px 320px 600px;
    /*header1 tour2 music3 video4 contact5 gallery6 footer7*/
  }
}

.header {
  background-image: linear-gradient(to right bottom, #000814, #002761), url(/images/back.jpg?88e0e0a2ec56d7d604c6393d3f1787d0);
  background-size: cover;
  background-position: 50% 45%;
  background-blend-mode: hard-light;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  margin-top: -9rem;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    height: 100%;
  }
}

.header-1 {
  grid-row: 1/2;
  align-self: end;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header-2 {
  grid-row: 2/3;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: moveInRight 2s;
          animation: moveInRight 2s;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

@media only screen and (max-width: 62.5em) {
  .header__logo-box {
    top: 3.5rem;
    left: 3.5rem;
  }
}

@media only screen and (max-width: 50em) {
  .header__logo-box {
    top: 3rem;
    left: 3rem;
  }
}

@media only screen and (max-width: 50em) {
  .header__logo-box {
    top: 2.5rem;
    left: 2.5rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .header__logo-box {
    top: 2rem;
    left: 2rem;
  }
}

@media only screen and (max-width: 25em) {
  .header__logo-box {
    top: 1rem;
    left: 1rem;
  }
}

.header__logo {
  height: 3.5rem;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.music {
  display: grid;
  grid-template-columns: 35% 10% 35%;
  grid-template-rows: 10% 80%;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width: 75em) {
  .music {
    grid-template-columns: 40% 40%;
    grid-template-rows: 10% 80%;
    grid-column-gap: 3rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .music {
    grid-template-columns: 100%;
    grid-template-rows: 8% 40% 40%;
  }
}

@media only screen and (max-width: 62.5em) {
  .music {
    grid-template-rows: 5% 40% 40%;
    grid-row-gap: 3rem;
  }
}

@media only screen and (max-width: 25em) {
  .music {
    grid-row-gap: 8rem;
  }
}

.music__title {
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  justify-items: center;
}

@media only screen and (max-width: 75em) {
  .music__title {
    grid-column: 1/-1;
    justify-self: center;
  }
}

.music__logo {
  margin: 0 auto;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5);
  width: 10rem;
}

.bandcamp_tab {
  display: none;
}

@media only screen and (max-width: 75em) {
  .bandcamp_tab {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: start;
  }
}

@media only screen and (max-width: 62.5em) {
  .bandcamp_tab {
    grid-row: 3/4;
    grid-column: 1/-1;
  }
}

@media only screen and (max-width: 25em) {
  .bandcamp_tab {
    display: none;
  }
}

.bandcamp_bg {
  display: none;
}

@media only screen and (max-width: 75em) {
  .bandcamp_bg {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 37.5rem;
    height: 68.7rem;
    justify-self: center;
    align-self: start;
    background-size: cover;
    background-blend-mode: exclusion;
    background-image: linear-gradient(to top, #000814, #001433), url(/images/card-2.jpg?52a43bd12b4755984926e0f25796fd77);
  }
}

@media only screen and (max-width: 62.5em) {
  .bandcamp_bg {
    grid-row: 2/3;
  }
}

@media only screen and (max-width: 25em) {
  .bandcamp_bg {
    display: none;
  }
}

.bandcamp_phone {
  display: none;
}

@media only screen and (max-width: 25em) {
  .bandcamp_phone {
    display: grid;
    grid-column: 1/-1;
  }
}

.social {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 20% 80%;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 62.5em) {
  .social {
    grid-template-columns: 100%;
    grid-template-rows: 10% 40% 40%;
  }
}

@media only screen and (max-width: 50em) {
  .social {
    grid-template-rows: 10% 45% 35%;
  }
}

@media only screen and (max-width: 25em) {
  .social {
    grid-template-rows: 10% 80%;
  }
}

@media only screen and (max-width: 21.9em) {
  .social {
    display: none;
  }
}

.social__title {
  grid-column: 1/-1;
  grid-row: 1/2;
  align-self: end;
}

@media only screen and (max-width: 37.5em) {
  .social__title {
    align-self: center;
  }
}

.social__facebook {
  grid-column: 1/2;
  grid-row: 2/3;
}

.social__youtube {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: start;
}

@media only screen and (max-width: 62.5em) {
  .social__youtube {
    grid-column: 1/-1;
    grid-row: 3/4;
    justify-self: center;
  }
}

@media only screen and (max-width: 87.5em) {
  .social__youtube-1 {
    width: 700px;
    height: 388.5px;
  }
}

@media only screen and (max-width: 75em) {
  .social__youtube-1 {
    width: 550px;
    height: 305.25px;
  }
}

@media only screen and (max-width: 62.5em) {
  .social__youtube-1 {
    width: 750px;
    height: 416.25px;
  }
}

@media only screen and (max-width: 50em) {
  .social__youtube-1 {
    width: 600px;
    height: 333px;
  }
}

@media only screen and (max-width: 37.5em) {
  .social__youtube-1 {
    width: 500px;
    height: 277.5px;
  }
}

@media only screen and (max-width: 31.25em) {
  .social__youtube-1 {
    width: 400px;
    height: 222px;
  }
}

@media only screen and (max-width: 25em) {
  .social__youtube-1 {
    display: none;
  }
}

.tour {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(4, 15%);
  grid-auto-rows: auto;
  grid-row-gap: 6rem;
  justify-content: center;
  align-content: start;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .tour {
    grid-template-columns: repeat(3, 25%);
    grid-row-gap: 2rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .tour {
    grid-row-gap: 3rem;
  }
}

.tour__title-main {
  /*grid-row:1/2;*/
  grid-column: 1/-1;
  /*@media only screen and (max-width: $bp-small) {
  	grid-column: 2/3;

  }*/
}

.tour__title {
  grid-row: 2/3;
  margin-bottom: 3rem;
  border-bottom: 0.2rem solid #e0d1bc;
  transition: all 0.4s ease;
  align-self: start;
  /*&-price {
  	grid-column: 4/5;
  	@media only screen and (max-width: $bp-small) {
  		display:none;
  	}

  }*/
}

.tour__title-date {
  grid-column: 1/2;
}

.tour__title-location {
  grid-column: 2/3;
}

.tour__title-venue {
  grid-column: 3/4;
}

@media only screen and (max-width: 37.5em) {
  .tour__title-venue {
    display: none;
  }
}

.tour__title-plus {
  grid-column: 4/5;
}

@media only screen and (max-width: 37.5em) {
  .tour__title-plus {
    grid-column: 3/4;
  }
}

.tour__title:hover {
  color: #001433;
  transition: color 0.5s ease;
}

.tour__content {
  /*grid-row: 3/4;*/
  border-bottom: 0.1rem solid #002761;
  /*&-price {
  	grid-column: 4/5;
  	@media only screen and (max-width: $bp-small) {
  		display:none;
  	}
  }*/
}

.tour__content-date {
  grid-column: 1/2;
  color: #FFCD00;
}

.tour__content-location {
  grid-column: 2/3;
}

.tour__content-venue {
  grid-column: 3/4;
}

@media only screen and (max-width: 37.5em) {
  .tour__content-venue {
    display: none;
  }
}

.tour__content-plus {
  grid-column: 4/5;
  border-bottom: 0.1rem solid transparent;
}

.tour__content-plus:hover {
  color: #FFCD00;
  transition: color 0.5s ease;
}

@media only screen and (max-width: 37.5em) {
  .tour__content-plus {
    grid-column: 3/4;
  }
}

.video {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 60% 25%;
}

@media only screen and (max-width: 62.5em) {
  .video {
    grid-template-rows: 15% 60% 20%;
  }
}

@media only screen and (max-width: 31.25em) {
  .video {
    grid-template-rows: 15% 60% 18%;
  }
}

@media only screen and (max-width: 25em) {
  .video {
    grid-template-rows: 15% 60% 15%;
  }
}

.video__title {
  grid-row: 1/2;
  align-self: start;
  justify-self: center;
}

.video__clip {
  grid-row: 2/3;
  justify-self: center;
  outline: 0.1rem solid #002761;
  outline-offset: 3rem;
  moz-outline-radius: 2rem;
  z-index: 20;
  /*width: 100%;
  height: auto;*/
}

@media only screen and (max-width: 62.5em) {
  .video__clip {
    width: 90%;
    height: auto;
    outline-offset: 2rem;
  }
}

@media only screen and (max-width: 50em) {
  .video__clip {
    outline: none;
    width: 100%;
    height: auto;
  }
}

.video__bottom {
  grid-row: 3/4;
  background-image: linear-gradient(to right bottom, #000814, #002761), url(/images/back2.jpg?299453ac6190ce8ffea7499a71e03230);
  background-size: cover;
  background-blend-mode: exclusion;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.video__bottom-logo {
  width: 20rem;
  grid-column: 2/3;
}

@media only screen and (max-width: 62.5em) {
  .video__bottom-logo {
    width: 16rem;
  }
}

@media only screen and (max-width: 50em) {
  .video__bottom-logo {
    width: 13rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .video__bottom-logo {
    width: 10rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .video__bottom-logo {
    width: 7rem;
  }
}

@media only screen and (max-width: 25em) {
  .video__bottom-logo {
    width: 4rem;
  }
}

