.contact {
	display: grid;
	grid-template-columns: 85%;
	/*grid-template-rows: 20% 80%;*/
	grid-auto-rows: auto;

	justify-content: center;

	@media only screen and (max-width: $bp-xsmall) {
		grid-template-columns: 100%;
		grid-template-rows: 10% 80%;
	}

	&__flash {

		align-self: center;
		justify-self: center;

	}
	
	&__title {
		grid-row:1/2;
		grid-column: 1/-1;

		align-self: center;
		justify-self: center;
	}

	&__form {
		background-image: linear-gradient(to bottom, $color-primary-dark, $color-primary-medium), url(../img/back3.jpg);	
		background-size: cover;
		background-position: 50% 25%;
		background-blend-mode: screen;
			

		border-radius: .3rem;
		box-shadow: 0 1.5rem 4rem rgba($color-black, .5);
		height: 55rem;
		display: grid;
		grid-template-columns: 80%;
		grid-template-rows: 10% 10% 30% 10%;
		justify-content: center;
		align-content: center;
		grid-gap: 5rem;

		&-group {

			&-name {
				grid-row:1/2;
			}

			&-email {
				grid-row:2/3;
			}

			&-message {
				grid-row:3/4;
			}	

			&-btn {
				grid-row:4/5;
				width: 60%;
			}
		}

		&__input {

			border-radius: .3rem;
			background-color: rgba($color-font-subtitle, .8);
			color: $color-primary-dark;
			padding: 2rem 2rem;
			border: .2rem solid $color-font-line; 
			width:100%;

			&:focus { 
				outline: none;
				box-shadow: 0 1rem 2rem rgba($color-primary-light, .1);
				border-bottom: .2rem solid $color-primary-light; 
			}
		
			&:focus:invalid { 
				border-bottom: .2rem solid $color-secondary-medium;
			} 

			&::-webkit-input-placeholder { 
				color:$color-primary-dark;
			}		
		}	

		&__label {
			color:$color-secondary-medium;
			font-size: 1.2rem;
			font-weight: 500;
			margin-left: 2rem;
			margin-top: .4rem;
			display: block;
			transition: all .3s;
		}

		&__input:placeholder-shown + &__label{ 
			opacity: 0;
			visibility: hidden; 
			transform: translateY(-3rem); 
		}
	}
	
}