.footer {
	background-image: linear-gradient(to bottom, $color-primary-dark, $color-primary-light), url(../img/back.jpg);
	background-size: cover;
	background-position: 50% 94%;
	background-blend-mode: hard-light;
	
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 20% 20% 20% 20% 20%;
	padding: 4rem;
	
	@supports(clip-path:polygon(0 0)) or (-webkit-clip-path:polygon(0 0)) {
		-webkit-clip-path:polygon(0 20%, 100% 0, 100% 100%, 0 100%);
		clip-path:polygon(0 20%, 100% 0, 100% 100%, 0 100%);
		height: 100%;
	}

	@media only screen and (max-width: $bp-largest) {
		grid-template-columns: 100%;
		grid-template-rows: 20% 20% 20% 20% 20%;
	}

	&__logo {
		grid-row:2/3;
		grid-column: 1/ -1;

		&-hr {
			color: $color-font-subtitle;
		}
		
	}

	&__link {
		grid-row: 3/4;
		grid-column: 1/ 2;

		display:grid;
		grid-template-columns: repeat(3, 10%);

		justify-content: start;

		@media only screen and (max-width: $bp-largest) {
			grid-column: 1/ -1;
			justify-items: center;
			justify-content: center;

		}

		@media only screen and (max-width: $bp-small) {
			display: grid;
			grid-template-rows: repeat(3, max-content);
			grid-template-columns: 100%;

			align-self: start;

		}
	}

	&__form {
		@media only screen and (max-width: $bp-largest) {
			text-align: center;
		}	
	}

	&__newsletter{
		grid-row: 3/4;
		grid-column: 2/ 3;

		font-size: 1.4rem;
		text-transform: uppercase;
		color: $color-secondary-medium;

		&-input {
			border-radius: .3rem;
			background-color: rgba($color-primary-light, .6);
			color: $color-font-subtitle;
			padding: 1.5rem 2rem;
			border: .2rem solid $color-secondary-medium; 
			width:55%;

			@media only screen and (max-width: $bp-largest) {
				width:30%;
			}
			@media only screen and (max-width: $bp-small) {
				width:60%;
			}
			@media only screen and (max-width: $bp-xsmall) {
				width:70%;
			}
			@media only screen and (max-width: $bp-xxsmall) {
				width:80%;
			}
		}
		@media only screen and (max-width: $bp-largest) {
			grid-column: 1/ -1;
			grid-row: 4/5;
			display: grid;
			align-items: center;
		}	

		@media only screen and (max-width: $bp-small) {
			grid-row: 5/6;
		}
	}
	
	&__copyright {
		grid-row: 5/6;
		grid-column: 1/ -1;

		font-size: 1rem;
		color: $color-font-line;

		align-self: end;
		text-align: center;
		text-transform: none;

		&-a {
			text-decoration: none;
			color: $color-font-title;
		}
		@media only screen and (max-width: $bp-small) {
			grid-row: 6/7;
		}
	}
}

.fab {
	font-size: 5rem;
	color: $color-secondary-medium;
}