.container {
	display: grid;

	grid-template-rows: 900px 800px 900px 1000px 900px /*1000px*/ 800px 500px;
	/*header1 tour2 music3 video4 social5 contact6 gallery7 footer8*/
	grid-template-columns: 1fr;

	@media only screen and (max-width: $bp-large) {
		grid-template-rows: 900px 700px 1900px 900px 1300px /*900px*/ 700px 500px;
		/*header1 tour2 music3 video4 social5 contact6 gallery7 footer8*/
	}

	@media only screen and (max-width: $bp-medium) {
		grid-template-rows: 900px 700px 1800px 800px 1200px /*850px*/ 500px 500px;

	}

	@media only screen and (max-width: $bp-small) {
		grid-template-rows: 900px 500px 1800px 700px 1100px /*850px*/ 420px 600px;
		/*header1 tour2 music3 video4 social5 contact6 gallery7 footer8*/
	}

	@media only screen and (max-width: $bp-xsmall) {
		grid-template-rows: 800px 500px 1700px 500px 1000px /*700px*/ 370px 600px;

	}

	@media only screen and (max-width: $bp-xxsmall) {
		grid-template-rows: 700px 650px 200px 400px 700px /*700px*/ 320px 600px;
		/*header1 tour2 music3 video4 social5 contact6 gallery7 footer8*/
	}

	@media only screen and (max-width: $bp-mini) {
		grid-template-rows: 700px 650px 200px 400px /*700px*/ 320px 600px;
		/*header1 tour2 music3 video4 contact5 gallery6 footer7*/
	}
}
