.header {
	background-image: linear-gradient(to right bottom, $color-primary-dark, $color-primary-light), url(../img/back.jpg);
	background-size: cover;
	background-position: 50% 45%;
	background-blend-mode: hard-light;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(2, 1fr);
	justify-content: center;
	justify-items: center;

	margin-top: -9rem;

@supports(clip-path:polygon(0 0)) or (-webkit-clip-path:polygon(0 0)) {
		-webkit-clip-path:polygon(0 0, 100% 0, 100% 80%, 0 100%);
		clip-path:polygon(0 0, 100% 0, 100% 80%, 0 100%);
		height: 100%;
	}


	&-1 {
		grid-row: 1/2;
		align-self:end;
		backface-visibility: hidden;
		animation-name: moveInLeft; 
		animation-duration: 2s;
	}

	&-2 {
		grid-row: 2/3;
		backface-visibility: hidden;

		animation: moveInRight 2s;

	}

	

	&__logo-box{
		position: absolute;
		top: 4rem;
		left: 4rem; 
		
		@media only screen and (max-width: $bp-large) {
			top: 3.5rem;
			left: 3.5rem; 
		}

		@media only screen and (max-width: $bp-medium) {
			top: 3rem;
			left: 3rem; 
		}

		@media only screen and (max-width: $bp-medium) {
			top: 2.5rem;
			left: 2.5rem; 
		}

		@media only screen and (max-width: $bp-xsmall) {
			top: 2rem;
			left: 2rem; 		
		}

		@media only screen and (max-width: $bp-xxsmall) {
			top: 1rem;
			left: 1rem; 
		}		
	}

	&__logo {
		height: 3.5rem;	
	}
	
}

@keyframes moveInLeft {
	0% { opacity: 0; transform: translateX(-100px);}
	80% { transform: translateX(10px); }
	100% { opacity: 1; transform: translateX(0);}
}

@keyframes moveInRight {
	0% { opacity: 0; transform: translateX(100px);}
	80% { transform: translateX(-10px);}
	100% { opacity: 1; transform: translateX(0);}
}