.music {
	
	display: grid;
	grid-template-columns: 35% 10% 35%;
	grid-template-rows: 10% 80%;
	justify-content: center;
	align-content: center;
	
	@media only screen and (max-width: $bp-largest) {
		grid-template-columns: 40% 40%;
		grid-template-rows: 10% 80%;

		grid-column-gap: 3rem;
	}

	@media only screen and (max-width: $bp-large) {
		grid-template-columns: 100%;
		grid-template-rows: 8% 40% 40%;
	}

	@media only screen and (max-width: $bp-large) {
		grid-template-rows:5% 40% 40%;
		grid-row-gap: 3rem;
	}

	@media only screen and (max-width: $bp-xxsmall) {
		grid-row-gap: 8rem;
	}

	&__title {
		grid-row: 1/2;
		grid-column: 2/3;

		display: grid;
		justify-items: center;

		@media only screen and (max-width: $bp-largest) {
			grid-column: 1/-1;
			justify-self: center;
		}


	}

	&__logo {
		margin: 0 auto;
		box-shadow: 0 1.5rem 2rem rgba($color-black, .5);
		width: 10rem;
	}
}

.bandcamp_tab {
	display: none;

	@media only screen and (max-width: $bp-largest) {
		display: grid;
		grid-column:2/3;
		grid-row: 2/3;

		justify-self: center;
		align-self: start;
	}

	@media only screen and (max-width: $bp-large) {
		grid-row: 3/4;
		grid-column:1/-1;
	}
	@media only screen and (max-width: $bp-xxsmall) {
		display:none;
	}
}

.bandcamp_bg {
	display: none;

	@media only screen and (max-width: $bp-largest) {
		display: grid;
		grid-column:1/2;
		grid-row: 2/3;

		width: 37.5rem;
		height: 68.7rem;
		
		justify-self: center;
		align-self: start;
		
		background-size: cover;
		background-blend-mode: exclusion;

		background-image: linear-gradient(to top, $color-primary-dark, $color-primary-medium), url(../img/card-2.jpg);	
	}

	@media only screen and (max-width: $bp-large) {
		grid-row: 2/3;
	}
	@media only screen and (max-width: $bp-xxsmall) {
		display:none;
	}
}

.bandcamp_phone {
	display: none;

	@media only screen and (max-width: $bp-xxsmall) {
		display:grid;
		grid-column:1/-1;
	}
}