.social {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: 20% 80%;

	justify-content: space-evenly;

	justify-items: center;
	align-items: center;

	@media only screen and (max-width: $bp-large) {
		grid-template-columns: 100%;
		grid-template-rows: 10% 40% 40%;
	}
	@media only screen and (max-width: $bp-medium) {
		grid-template-rows: 10% 45% 35%;
	}
	@media only screen and (max-width: $bp-xxsmall) {
		grid-template-rows: 10% 80%;
	}
	@media only screen and (max-width: $bp-mini) {
		display: none;
	}

	&__title {
		grid-column: 1/-1;
		grid-row: 1/2;

		align-self: end;

		@media only screen and (max-width: $bp-small) {
			align-self:center;
		}

	}

	&__facebook {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	&__youtube {
		grid-column: 2/3;
		grid-row: 2/3;

		justify-self: start;

		@media only screen and (max-width: $bp-large) {
			grid-column: 1/-1;
			grid-row: 3/4;

			justify-self: center;
		}

		&-1 {
			@media only screen and (max-width: $bp-xlarge) {
				width: 700px;
				height: 388.5px;
			}
			@media only screen and (max-width: $bp-largest) {
				width: 550px;
				height: 305.25px;
			}
			@media only screen and (max-width: $bp-large) {
				width: 750px;
				height: 416.25px;
			}
			@media only screen and (max-width: $bp-medium) {
				width: 600px;
				height: 333px;
			}
			@media only screen and (max-width: $bp-small) {
				width: 500px;
				height: 277.5px;
			}
			@media only screen and (max-width: $bp-xsmall) {
				width: 400px;
				height: 222px;
			}
			@media only screen and (max-width: $bp-xxsmall) {
				display: none;
			}

		}

	}
}
