.tour {

	grid-column: 1/ 2;

	display: grid;
	grid-template-columns: repeat(4, 15%);
	grid-auto-rows: auto;
	grid-row-gap: 6rem;

	justify-content: center;
	align-content: start;
	align-items: center;
	text-align: center;

	@media only screen and (max-width: $bp-small) {
		grid-template-columns: repeat(3, 25%);
		grid-row-gap: 2rem;
	}
	@media only screen and (max-width: $bp-xsmall) {
		grid-row-gap: 3rem;
	}

	&__title-main {
		/*grid-row:1/2;*/
		grid-column: 1/-1;


		/*@media only screen and (max-width: $bp-small) {
			grid-column: 2/3;

		}*/
	}

	&__title {
		grid-row: 2/3;
		margin-bottom: 3rem;

		border-bottom: .2rem solid $color-font-subtitle;
		transition: all .4s ease;
		align-self: start;

		&-date {
			grid-column: 1/2;
		}
		&-location {
			grid-column: 2/3;

		}
		&-venue {
			grid-column: 3/4;
			@media only screen and (max-width: $bp-small) {
				display:none;
			}

		}
		/*&-price {
			grid-column: 4/5;
			@media only screen and (max-width: $bp-small) {
				display:none;
			}

		}*/
		&-plus {
			grid-column: 4/5;
			@media only screen and (max-width: $bp-small) {
				grid-column: 3/4;
			}
		}

		&:hover {
			color: $color-primary-medium;
			transition: color .5s ease;
		}

	}

	&__content {
		/*grid-row: 3/4;*/
		border-bottom: .1rem solid $color-primary-light;



		&-date {
			grid-column: 1/2;
			color: $color-secondary-medium;
		}

		&-location {
			grid-column: 2/3;
		}

		&-venue {
			grid-column: 3/4;
			@media only screen and (max-width: $bp-small) {
				display:none;
			}
		}

		/*&-price {
			grid-column: 4/5;
			@media only screen and (max-width: $bp-small) {
				display:none;
			}
		}*/

		&-plus {
			grid-column: 4/5;
			border-bottom: .1rem solid transparent;
			&:hover {
				color: $color-secondary-medium;
				transition: color .5s ease;
			}
			@media only screen and (max-width: $bp-small) {
				grid-column: 3/4;
			}
		}
	}
}
