.video {
	
	display: grid;
	grid-template-columns: 100% ;
	grid-template-rows: 15% 60% 25%;

	@media only screen and (max-width: $bp-large) {
		grid-template-rows: 15% 60% 20%;	
	}

	@media only screen and (max-width: $bp-xsmall) {
		grid-template-rows: 15% 60% 18%;
	}

	@media only screen and (max-width: $bp-xxsmall) {
		grid-template-rows: 15% 60% 15%;
	}

	&__title {
		grid-row:1/2;

		align-self: start;
		justify-self: center;
	}

	&__clip {
		grid-row: 2/3;
		
		justify-self: center;
		outline: 0.1rem solid $color-primary-light;
		outline-offset: 3rem;
		moz-outline-radius: 2rem;
		z-index: 20;
		/*width: 100%;
		height: auto;*/
		
		@media only screen and (max-width: $bp-large) {
			width: 90%;
			height: auto;
			outline-offset: 2rem;
		}
		@media only screen and (max-width: $bp-medium) {
			outline: none;
			width: 100%;
			height: auto;
		}
	}

&__bottom {
		grid-row: 3/4;
		
		background-image: linear-gradient(to right bottom,$color-primary-dark, $color-primary-light), url(../img/back2.jpg);
		background-size: cover;
		background-blend-mode: exclusion;
		background-attachment: fixed;
		
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr;

		justify-items: center;
		align-items: center;

		&-logo {
			width: 20rem;
			grid-column: 2/3;

			@media only screen and (max-width: $bp-large) {
				width: 16rem;
			}
			@media only screen and (max-width: $bp-medium) {
				width: 13rem;
			}
			@media only screen and (max-width: $bp-small) {
				width: 10rem;
			}
			@media only screen and (max-width: $bp-xsmall) {
				width: 7rem;
			}
			@media only screen and (max-width: $bp-xxsmall) {
				width: 4rem;
			}
		}
	}		
}