// COLOR VARIABLES

$color-primary-dark:  #000814;
$color-primary-medium:#001433;
$color-primary-light: #002761;	
$color-primary-extra-light: #00388A;

$color-font-title: #F6F2ED;
$color-font-subtitle: #e0d1bc;
$color-font-line: #DFB881;


$color-secondary-light: #FFEA93;
$color-secondary-medium: #FFCD00;
$color-secondary-dark: #FFAE00;

$color-black: #000000;
$color-white: #FFFFFF;


// FONT VARIABLES

$font-title: 'distressregular', sans-serif;
$font-subtitle: 'viridian_collegeregular', sans-serif;
$font-content: 'Roboto Mono', monospace;

// RESPONSIVE BREAKPOINTS

$bp-xlarge:87.5em; /*1400px*/
$bp-largest: 75em; /*1200px*/
$bp-large: 62.5em; /*1000px*/
$bp-medium:50em; /*800px*/
$bp-small: 37.5em; /*600px*/
$bp-xsmall: 31.25em; /*500px*/
$bp-xxsmall: 25em; /*400px*/
$bp-mini:21.9em; /*350px*/

